<div>
    <h2 id="page-heading">
        <span jhiTranslate="icdvIntranetApp.manufCostStmt.home.title">Manuf Cost Stmts</span>

<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-manuf-cost-stmt" [routerLink]="['/manuf-cost-stmt/new']">-->
<!--            <fa-icon icon="plus"></fa-icon>-->
<!--            <span  jhiTranslate="icdvIntranetApp.manufCostStmt.home.createLabel">-->
<!--            Create a new Manuf Cost Stmt-->
<!--            </span>-->
<!--        </button>-->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="manufCostStmts?.length === 0">
        <span jhiTranslate="icdvIntranetApp.manufCostStmt.home.notFound">No manufCostStmts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="manufCostStmts && manufCostStmts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.nameOfManufacturer">Name Of Manufacturer</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.uniqueEntityNumber">Unique Entity Number</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.ftaScheme">Fta Scheme</span></th>
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isQRVC">Is QRVC</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isCTC">Is CTC</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isMP">Is MP</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.descriptionOfGoods">Description Of Goods</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.model">Model</span></th>-->
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.hsCodeOfGoods">Hs Code Of Goods</span></th>
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.statementDate">Statement Date</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.incotermOfFta">Incoterm Of Fta</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.fobValueOfGoods">Fob Value Of Goods</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.noOfMCSUnits">No Of MCS Units</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.directLabourCost">Direct Labour Cost</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.directOverheadCost">Direct Overhead Cost</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.profit">Profit</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.otherCost">Other Cost</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared1">Is Declared 1</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName1">Declaring Name 1</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition1">Declare Position 1</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn1">Declare On 1</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared2">Is Declared 2</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName2">Declaring Name 2</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition2">Declare Position 2</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn2">Declare On 2</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared3">Is Declared 3</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName3">Declaring Name 3</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition3">Declare Position 3</span></th>-->
<!--                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn3">Declare On 3</span></th>-->
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.totalNonOrigMat">Total Non Orig Mat</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.totalOrigMat">Total Orig Mat</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.qvcRvc">Qvc Rvc</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="icdvIntranetApp.manufCostStmt.createdOn">Created On</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let manufCostStmt of manufCostStmts ;trackBy: trackId">
                    <td><a [routerLink]="['/manuf-cost-stmt', manufCostStmt.id, 'view']">{{ manufCostStmt.id }}</a></td>
                    <td>{{ manufCostStmt.nameOfManufacturer }}</td>
                    <td>{{ manufCostStmt.uniqueEntityNumber }}</td>
                    <td>{{ manufCostStmt.ftaScheme }}</td>
<!--                    <td>{{ manufCostStmt.isQRVC }}</td>-->
<!--                    <td>{{ manufCostStmt.isCTC }}</td>-->
<!--                    <td>{{ manufCostStmt.isMP }}</td>-->
<!--                    <td>{{ manufCostStmt.descriptionOfGoods }}</td>-->
<!--                    <td>{{ manufCostStmt.model }}</td>-->
                    <td>{{ manufCostStmt.hsCodeOfGoods }}</td>
<!--                    <td>{{ manufCostStmt.statementDate | date:'medium' }}</td>-->
<!--                    <td>{{ manufCostStmt.incotermOfFta }}</td>-->
<!--                    <td>{{ manufCostStmt.fobValueOfGoods }}</td>-->
<!--                    <td>{{ manufCostStmt.noOfMCSUnits }}</td>-->
<!--                    <td>{{ manufCostStmt.directLabourCost }}</td>-->
<!--                    <td>{{ manufCostStmt.directOverheadCost }}</td>-->
<!--                    <td>{{ manufCostStmt.profit }}</td>-->
<!--                    <td>{{ manufCostStmt.otherCost }}</td>-->
<!--                    <td>{{ manufCostStmt.isDeclared1 }}</td>-->
<!--                    <td>{{ manufCostStmt.declaringName1 }}</td>-->
<!--                    <td>{{ manufCostStmt.declarePosition1 }}</td>-->
<!--                    <td>{{ manufCostStmt.declareOn1 | date:'medium' }}</td>-->
<!--                    <td>{{ manufCostStmt.isDeclared2 }}</td>-->
<!--                    <td>{{ manufCostStmt.declaringName2 }}</td>-->
<!--                    <td>{{ manufCostStmt.declarePosition2 }}</td>-->
<!--                    <td>{{ manufCostStmt.declareOn2 | date:'medium' }}</td>-->
<!--                    <td>{{ manufCostStmt.isDeclared3 }}</td>-->
<!--                    <td>{{ manufCostStmt.declaringName3 }}</td>-->
<!--                    <td>{{ manufCostStmt.declarePosition3 }}</td>-->
<!--                    <td>{{ manufCostStmt.declareOn3 | date:'medium' }}</td>-->
                    <td>{{ manufCostStmt.totalNonOrigMat | number : '1.2-2'}}</td>
                    <td>{{ manufCostStmt.totalOrigMat | number : '1.2-2'}}</td>
                    <td>{{ manufCostStmt.qvcRvc | number : '1.2-2' }}</td>
                    <td jhiTranslate="{{ 'icdvIntranetApp.Status.' + manufCostStmt.status }}">{{ manufCostStmt.status }}</td>
                    <td>{{ manufCostStmt.createdOn | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/manuf-cost-stmt', manufCostStmt.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

<!--                            <button type="submit"-->
<!--                                    [routerLink]="['/manuf-cost-stmt', manufCostStmt.id, 'edit']"-->
<!--                                    class="btn btn-primary btn-sm">-->
<!--                                <fa-icon icon="pencil-alt"></fa-icon>-->
<!--                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--                            </button>-->

                            <button type="submit" (click)="delete(manufCostStmt)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
