<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manufCostStmt">
            <h2><span jhiTranslate="icdvIntranetApp.manufCostStmt.detail.title">Manuf Cost Stmt</span> </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
            <button type="button"
                    [disabled]="disableActions()"
                    (click)="approveAction()"
                    class="btn btn-success">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.approve">Approve</span>
            </button>

            <button type="button"
                    [disabled]="disableActions()"
                    (click)="rejectAction()"
                    class="btn btn-danger">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reject">Reject</span>
            </button>

            <br>
            <br>

            <table width="900">
                <tr>
                    <td>
                        <span jhiTranslate="icdvIntranetApp.manufCostStmt.nameOfManufacturer" style="font-weight: bold">Name Of Manufacturer</span>
                    </td>
                    <td>
                        <span jhiTranslate="icdvIntranetApp.manufCostStmt.uniqueEntityNumber" style="font-weight: bold">Unique Entity Number</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>{{ manufCostStmt.nameOfManufacturer }}</span>
                    </td>
                    <td>
                        <span>{{ manufCostStmt.uniqueEntityNumber }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span jhiTranslate="icdvIntranetApp.manufCostStmt.ftaScheme" style="font-weight: bold">Fta Scheme</span>
                    </td>
                </tr>
                <tr>
                    <span>{{ manufCostStmt.ftaScheme }}</span>
                </tr>
                <tr>
                    <span style="font-weight: bold">Origin Criterion</span>
                </tr>
                <tr>
                    <input type="checkbox"  [checked]="manufCostStmt.isQRVC" disabled="true">
                    <span jhiTranslate="icdvIntranetApp.manufCostStmt.isQRVC">Is CTC</span>
                </tr>
                <tr>
                    <input type="checkbox" [checked]="manufCostStmt.isCTC" disabled="true">
                    <span jhiTranslate="icdvIntranetApp.manufCostStmt.isCTC">Is CTC</span>
                </tr>
                <tr>
                    <input type="checkbox" [checked]="manufCostStmt.isMP" disabled="true">
                    <span jhiTranslate="icdvIntranetApp.manufCostStmt.isMP">Is CTC</span>
                </tr>
                <tr>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.descriptionOfGoods">Description Of Goods</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.descriptionOfGoods }}</span>
                        </dd>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.model">Model</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.model }}</span>
                        </dd>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.hsCodeOfGoods">Hs Code Of Goods</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.hsCodeOfGoods }}</span>
                        </dd>
                        <dd>
                            <span> </span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.statementDate">Statement Date</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.statementDate }}</span>
                        </dd>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.incotermOfFta">Incoterm Of Fta</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.incotermOfFta }}</span>
                        </dd>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.fobValueOfGoods">Fob Value Of Goods</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.fobValueOfGoods }}</span>
                        </dd>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.noOfMCSUnits">No Of MCS Units</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.noOfMCSUnits }}</span>
                        </dd>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    <div class="table-responsive" id="entities" *ngIf="manufCostStmt.materials && manufCostStmt.materials.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                            <tr>
                                <!--                        <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>-->
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.description">Description</span></th>
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.hscode">Hscode</span></th>
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.countryOfOrigin">Country Of Origin</span></th>
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.nameOfManufacturer">Name Of Manufacturer</span></th>
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.valueOfMaterialsNonOriginating">Value Of Materials Non Originating</span></th>
                                <th scope="col" ><span jhiTranslate="icdvIntranetApp.material.valueOfMaterialOriginating">Value Of Material Originating</span></th>
                                <!--                        <th scope="col"></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let material of manufCostStmt.materials">
                                <!--                        <td><a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a></td>-->
                                <td>{{ material.description }}</td>
                                <td>{{ material.hscode }}</td>
                                <td>{{ material.countryOfOrigin }}</td>
                                <td>{{ material.nameOfManufacturer }}</td>
                                <td>{{ material.valueOfMaterialsNonOriginating }}</td>
                                <td>{{ material.valueOfMaterialOriginating }}</td>
                                <!--                        -->
                                <!--                        <td class="text-right">-->
                                <!--                            <div class="btn-group">-->
                                <!--                                <button type="submit"-->
                                <!--                                        [routerLink]="['/material', material.id, 'view']"-->
                                <!--                                        class="btn btn-info btn-sm">-->
                                <!--                                    <fa-icon icon="eye"></fa-icon>-->
                                <!--                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                                <!--                                </button>-->

                                <!--                                <button type="submit"-->
                                <!--                                        [routerLink]="['/material', material.id, 'edit']"-->
                                <!--                                        class="btn btn-primary btn-sm">-->
                                <!--                                    <fa-icon icon="pencil-alt"></fa-icon>-->
                                <!--                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                                <!--                                </button>-->

                                <!--                                <button type="submit" (click)="delete(material)"-->
                                <!--                                        class="btn btn-danger btn-sm">-->
                                <!--                                    <fa-icon icon="times"></fa-icon>-->
                                <!--                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                                <!--                                </button>-->
                                <!--                            </div>-->
                                <!--                        </td>-->
                            </tr>
                            <br>
                            </tbody>
                        </table>
                    </div>
                    </td>
                </tr>
                <tr>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.totalNonOrigMat">Total Non Orig Mat</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.totalNonOrigMat }}</span>
                    </dd>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.totalOrigMat">Total Orig Mat</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.totalOrigMat }}</span>
                    </dd>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.directLabourCost">Direct Labour Cost</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.directLabourCost }}</span>
                    </dd>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.directOverheadCost">Direct Overhead Cost</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.directOverheadCost }}</span>
                    </dd>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.profit">Profit</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.profit }}</span>
                    </dd>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.otherCost">Other Cost</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.otherCost }}</span>
                    </dd>
                </tr>
                <tr>
                    <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.qvcRvc">Qvc Rvc</span></dt>
                    <dd>
                        <span>{{ manufCostStmt.qvcRvc | number : '1.2-2'}} %</span>
                    </dd>
                </tr>
                <tr>
                    <td colspan="3">
                    <span style="font-weight: bold" *ngIf="manufCostStmt.contents && manufCostStmt.contents.length > 0">Attachments</span>
                    <br>
                    <span *ngFor="let item of manufCostStmt.contents">
                        <a href="{{item.url}}" target="_blank"> {{item.orgName}} </a>
                    </span>
                    <br>
                    <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    <input type="checkbox" disabled="true" [checked]="manufCostStmt.isDeclared1"  />
                    <span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared1">Is Declared 1</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName1">Declaring Name 1</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declaringName1 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition1">Declare Position 1</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declarePosition1 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn1">Declare On 1</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declareOn1 | date}}</span>
                        </dd>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="checkbox" disabled="true" [checked]="manufCostStmt.isDeclared2"  />
                        <span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared2">Is Declared 2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName2">Declaring Name 2</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declaringName2 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition2">Declare Position 2</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declarePosition2 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn2">Declare On 2</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declareOn2 | date}}</span>
                        </dd>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="checkbox" disabled="true" [checked]="manufCostStmt.isDeclared3"  />
                        <span jhiTranslate="icdvIntranetApp.manufCostStmt.isDeclared3">Is Declared 3</span>
                    </td>
                </tr>
                <tr>;
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declaringName3">Declaring Name 3</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declaringName3 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declarePosition3">Declare Position 3</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declarePosition3 }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.declareOn3">Declare On 3</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.declareOn3 | date}}</span>
                        </dd>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.status">Status</span></dt>
                        <dd>
                            <span jhiTranslate="{{ 'icdvIntranetApp.Status.' + manufCostStmt.status }}">{{ manufCostStmt.status }}</span>
                        </dd>
                    </td>
                    <td>
                        <dt><span jhiTranslate="icdvIntranetApp.manufCostStmt.createdOn">Created On</span></dt>
                        <dd>
                            <span>{{ manufCostStmt.createdOn | date }}</span>
                        </dd>
                    </td>
                </tr>
            </table>



<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/manuf-cost-stmt', manufCostStmt.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>-->
<!--            </button>-->
        </div>
    </div>
</div>
