<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="importCertAndDeliVerifn">
            <h2><span jhiTranslate="icdvIntranetApp.importCertAndDeliVerifn.detail.title">Import Cert And Deli Verifn</span> {{ importCertAndDeliVerifn.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <!--
            <button type="button"
                    [disabled]="disableActions()"
                    [routerLink]="['/import-cert-and-deli-verifn', importCertAndDeliVerifn.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            -->
            <button type="button"
                    [disabled]="disableActions()"
                    (click)="approveAction()"
                    class="btn btn-success">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.approve">Approve</span>
            </button>

            <button type="button"
                    [disabled]="disableActions()"
                    (click)="rejectAction()"
                    class="btn btn-danger">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.reject">Reject</span>
            </button>

            <br>
            <br>

            <formio [form]="submissionStatusForm" [submission]="submissionStatus" readOnly="true" viewOnly="true"></formio>

<!--            <formio src="https://epjdlbhbdgcmqwz.form.io/quickform" viewOnly="true" readOnly="true"-->
<!--                    [submission]="submissionStatus" ></formio>-->

            <formio [form]="submissionForm" [submission]="submissionData" readOnly="true" viewOnly="true" ></formio>

        </div>
    </div>
</div>
